# Server side node_modules folders
/node_modules

# Client side node_modules folder
#/client/node_modules

# Ignore temporary storage folder
/server/Temp_storage

#Environment variables file
.env

#Resources used whilst building
/Resources