# Ignore node_modules folders
/node-api-postgres/node_modules

# Ignore temporary storage folder
/node-api-postgres/Temp_storage

#Environment variables file
.env

#Client side node_modules folder
/node-api-postgres/client/node_modules